html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: black;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  color: deeppink;
}


/* Styling for navigation bar */

.title-nav {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: black;
  color: white;
  margin-left: 50px;
}

#login-btn {
  text-align: right;
  font-family: 'Roboto Slab', serif;
}



/* Styling for main body form */

.code-word-form {
  color: white;
  margin-left: 200px;
  padding-top: 100px;
  font-size: 16px;
}

input {
  font-family: 'Roboto Slab', serif;
}
