<div class="title-nav">
  <a href="/" id="nav-logo"><h1>Partywyre</h1></a>
  <a href="/login"><img id="nav-image" src="https://image.freepik.com/free-vector/heart-in-dark-background_1017-3857.jpg"></a>
</div>
<nav>

</nav>
