<%- include ../partials/header.ejs %>


  <div id="dashboard">
    <h2>Welcome to your event dashboard, <%= username %></h2>
    <form action="/logout" method="GET">
      <input type="submit" value="Logout" id="logout-btn">
    </form>
  </div>


<%- include ../partials/footer.ejs %>
