<%- include ../partials/header.ejs %>


  <div id="dashboard">
    <h2>Welcome to your dashboard:</h2>
    <h3><%= username %></h3>
  </div>
  <div id="dashboard-btns">
    <button type="button">Logout</button>
  </div>

<%- include ../partials/footer.ejs %>
