<%- include ../partials/header.ejs %>

<div id="event-container">
  <div>
    <h3>The party is on.</h3>
  </div>
  <div class="party-details">
    <h3>Time: 2am til Sunrise</h3>
    <h3>Location: 46 Minna St, San Francisco, CA 94105</h3>
    <h3>Performanes By: BrittanyFromEarlier, Special Guest</h3>
  </div>
  <div id="lyft-button">
    <h3>Need a ride?</h3>
    <a href='https://lyft.com/ride?id=lyft&partner=Sr_2_zxeVQK3'>
      <img src="http://bocanewsnow.com/wp-content/uploads/2017/08/IMG_0587.png" style="height:75px; width:75px">
  </a>
  </div>
</div>

<%- include ../partials/footer.ejs %>
