<%- include ../partials/header.ejs %>


  <div class="code-word-form">
    <form action="/" method="POST">
      <%= message %></br>
      <input type="text" name="password" style="margin-top:10px;" required></br>
      <input type="submit" style="margin-top:10px" id="passwordSubmitBtn">
    </form>
  </div>

<%- include ../partials/footer.ejs %>
