<%- include ../partials/header.ejs %>


  <div id="thank-you">
    <h2>Thank you! Your event has been created. The password is:</h2></br>
    <h3><%= password %></h3>
  </div>

<%- include ../partials/footer.ejs %>
